.reveal {
  opacity: 0;              /* invisible au départ */
  transform: translateY(20px); /* légèrement en dessous */
  transition: all 0.8s ease; /* animation fluide */
}

.reveal.active {
  opacity: 1;
  transform: translateY(0); /* revient à sa position normale */
}
